<ul class="list-group">
  <li
    *ngFor="
      let character of characterList;
      let i = index;
      let isFirst = first;
      let isLast = last;
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-success': isFirst,
      'list-group-item-danger': isLast
    }"
  >

  <div>
    <span class="text-primary">{{ i + 1 }} -</span>
    <span> {{ character.nombre }} - </span>
    <span> Poder: {{ character.poder }} </span>
  </div>
  <button class="btn btn-danger" (click)="deleteCharacterById(character.id)">X</button>
  </li>
</ul>
